extends main_layout

block content
  h1 About Us
#myModal.modal.fade(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Modal title
      .modal-body
        p Modal content here
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Close
